@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400..700&family=Fjalla+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Gothic&family=Marcellus&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Shadows+Into+Light&family=Silkscreen:wght@400;700&family=Zilla+Slab+Highlight:wght@400;700&display=swap');

:root{
    --color1: black;
    --color2: white;
    --color3: rgb(6, 222, 6);
    --color4: linear-gradient(to right, rgb(41, 41, 41), #000);
}

.dark-mode{
    --color1: white;
    --color2: black;
    --color3: #212121;
    --color4:  white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    /* scroll-padding-top: var(--j); */
}

body {
    min-height: 200vh;
    background-color: var(--color1);
}
abbr{
    text-decoration: none;
    cursor: default;
}

.container {
    position: relative;
    height: 103vh;
    overflow: hidden;
    animation: animate 4s linear infinite;
    z-index: 1; 
}

.row {
    display: inline-flex;
    margin-top: -32px;
    margin-left: -50px;
}

.row:nth-child(even) {
    margin-left: 10px;
}

.hexagon {
    position: relative;
    width: 120px;
    height: 120px;
    background-color: var(--color1);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    margin: 2px;
    transition: 2s;
}

.hexagon:hover {
    transition: 0s;
    background-color: var(--color3);
    /* background-color: #212121; */
}

.hexagon::after {
    content: "";
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    background: var(--color4);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.hexagon::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color:var(--color1); */
    /* background: rgba(255, 255, 255, 0.07); */
    pointer-events: none;
}

header {
    position: absolute;
    z-index: 100; 
    margin: 10px;
    width: 400px;
    transform: translateX(270%);
}

a {
    text-decoration: none;
    color: var(--color2);
}

.navbar {
    width: 400px;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
}

.navbar li{
    margin: 10px;
    padding: 10px;
    border: 2px solid var(--color2);
    border-radius: 50px;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: transform 0.5s ease-in-out;
}

li i{
    color: white;
}
li i:hover{
    color: black;
}

.navbar li:hover, a:hover{
    transform: scale(1.1);
    background-color: white;
    color: black;
}
#Hero {
    cursor: default;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: var(--color2);
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    z-index: 10; 
    /* background: rgba(0, 0, 0, 0);  */
    padding: 20px;
    border-radius: 12px;
    min-height: 70vh;
}
.profile-picture{
    width:400px;
    height:400px;
    border: 15px solid var(--color2);
    border-radius:50%;
    display:inline;
    position: absolute;
    transform: translate(-50%, -80%)
}
.greetings{
    font-family: "Righteous", sans-serif;
    font-weight: bolder;
    line-height: 2px;
    font-style: normal;
}

.small{
    margin: -15px;
    padding: 5px;
    font-size:30px;
    font-family: "Shadows Into Light", cursive;
    font-weight:bolder;
    font-style:italic;
}

.nxtline-bigger{
    font-size: 170px;
    font-family: "Zilla Slab Highlight", serif;
    font-weight: 700;
    font-style: normal;
}

main{
    background-color: white;
    height: 90vh;
    width: 100%;
    overflow: hidden;
}

.quote{
    padding: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 2.5rem;
}

.Skills{
    height:100vh;
    background-color: #212121;
    overflow: hidden;
}

.Skills h2{
    text-align: center;
    color: white;
    font-size: 350px;
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    border: 2px solid black;
    height: 50%;
}
.Skills p{
    color: White;
    column-count: 2;
    column-gap: 20px;
    text-align:justify ;
    margin: 10px;
    padding: 10px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.containers{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.containers .progress{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: #fff;
    background: #444 linear-gradient(to right, transparent 50% , var(--clr) 0);
}
.containers .progress h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    z-index: 1;
    font-weight: 500;
}
.containers .progress h3 span{
    font-size: 0.65em;
    font-weight: 400;
}
.containers .progress h4{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--clr);
}
.containers .progress::before{
    content: "";
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
}
.containers .progress::after{
    content: "";
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background: #222;
}
.containers .progress::before{
    background: var(--clr);
    transform: rotate(calc((var(--i) - 50) * 0.01turn));
}


#About{
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 20px;
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
}

#About .Profile-picture2{
    transform: rotateZ(-90deg);
    border: 2px dashed black;
    border-radius: 20px;
    box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.5);

}

#About .Reading-block{
    width: 50%;
    font-size: 20px;
}

#About .highlight{
    font-size: 35px;
    font-weight: 700;
}

footer{
    background-color: white;
    /* border-top:2px solid black; */
    font-family: "Roboto Mono", serif;
    overflow: hidden;
    padding:20px;
}


footer h2{
    font-weight: ;
    font-size: 25px;
    margin: 20px;
}
footer p{
    margin: 20px;
    column-count: 2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    text-align: justify;
}

.links{
    gap: 20px;
    animation: marquee 20s linear infinite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-list{
    list-style-type: none;
    display:flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    overflow:hidden;
    gap: 20px;
}

.link-list li{
    margin-inline: 70px;
}

.link-list .image img{
    filter: grayscale(100%);
}
.links:hover{
    animation-play-state: paused;
}

.Banner-image {
    background-image: url("images/Sit&Talk.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    filter: grayscale(60%);
}

.Banner-image ul{
    list-style-type: none;
    width: 100%;
    height: 50%;
    padding: 30px;
    margin: 20px
} 

.Banner-image ul li{
    color: white;
    display: flex;
    align-items: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0); 
    
    /* background-color: rgba(0, 0, 0, 0.297); */
}

li .icon{
    transform: translateY(10%);
}

.details{
    font-size: 20px;
    margin: 20px;
    font-family: "Noto Sans Display", sans-serif;
}

figure{
    position:realtive;
    margin: 5px;
    width: 100%;
}
.Signature{
    position: absolute;
    right:0;
    bottom: 5px;
}
.copyright{
    position: absolute;
    right:10px;
    color: white;
    font-size: 25px;
}
figcaption{
    color: white;
    position: absolute;
    right: 20px;
    bottom: 0;
}


@keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}
@keyframes bounce{
    0%{
        transform: scale(1);
    }
    50%{
        transform:scale(1.2);
    }
    100%{
        transform:scale(1);
    }
}
@keyframes marquee{
    to{
        transform: translateX(calc(-100% - 20px));
    }
}
